/* ---- isotope ---- */

.grid.thumnails {
  margin: 0 -10px;
}

/* ---- .element-item ---- */

.element-item {
  padding: 10px;
  > * {
    margin: 0;
    padding: 0;
  }
  &.red         { background: #F00; background: hsl(   0, 100%, 50%); }
  &.orange      { background: #F80; background: hsl(  36, 100%, 50%); }
  &.yellow      { background: #FF0; background: hsl(  72, 100%, 50%); }
  &.green       { background: #0F0; background: hsl( 108, 100%, 50%); }
  &.teal        { background: #0F8; background: hsl( 144, 100%, 50%); }
  &.blue-light  { background: #0FF; background: hsl( 180, 100%, 50%); }
  &.blue        { background: #08F; background: hsl( 216, 100%, 50%); }
  &.navy        { background: #00F; background: hsl( 252, 100%, 50%); }
  &.purple      { background: #F0F; background: hsl( 288, 100%, 50%); }
  &.magenta     { background: #F08; background: hsl( 324, 100%, 50%); }
}
