
img {
    height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}

figure {
    margin: 1em 0; /* Extra wide images within figure tags don't overflow the content area. */
}

.logo {
    &__site {
        max-width: 200px;
    }
}